* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    font-family: 'Bebas Neue'
}

header {
    background-color: #65BF85;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 15px;
    font-size: 30px;
}

header nav ul li a:hover {
    color: #79F2AE;
    font-size: 31px;
}

.here {
    color: #B6D0F2;
}

.here:hover {
    color: #7A8CBF;
}

.main {
    text-align: center;
}

.main p {
    font-size: 25px;
}

.main h1 {
    font-size: 50px;
}

.main h2 {
    font-size: 50px;
}

.col {
    height: 450px;
    display: flex;
    padding: 100px 10% 100px 10%;
}

.text-img {
    margin: 5%;
    height: 450px;
}

.col img {
    box-shadow: 7px 7px 7px gray;
    border-radius: 20px;
}


.col2 {
    height: 450px;
    display: flex;
    padding: 100px 10% 100px 10%;
    background-color: #7EBCF2;
}

.col2 .text-img {
    color: white;
}

.col2 img {
    box-shadow: -7px 7px 7px #7A8CBF;
    border-radius: 20px;
}

footer {
    background-color: #65BF85;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

footer a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

footer a:hover {
    color: #79F2AE;
    font-size: 21px;
}