* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    font-family: 'Bebas Neue'
}

header {
    background-color: #65BF85;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 15px;
    font-size: 30px;
}

header nav ul li a:hover {
    color: #79F2AE;
    font-size: 31px;
}

.here {
    color: #B6D0F2;
}

.here:hover {
    color: #7A8CBF;
}

.gallery {
    background-color: white;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.gallery h1 {
    font-size: 50px;
    padding-bottom: 100px;
}

.gallery img {
    opacity: 0.9;
    width: 30%;

}

.gallery img:hover {
    opacity: 1;
    width: 30.1%;
    scale: 1.01;
    animation: .4s;
}

.gallery p {
    padding: 40px 5% 0px 5%;
    font-size: 25px;
}

footer {
    background-color: #65BF85;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

footer a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

footer a:hover {
    color: #79F2AE;
    font-size: 21px;
}