* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    font-family: 'Bebas Neue'
}

h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

h2 {
    font-size: 50px;
    padding-bottom: 10px;
}

p {
    font-size: 25px;
    padding-bottom: 20px;
}

header {
    background-color: #65BF85;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 15px;
    font-size: 30px;
}

header nav ul li a:hover {
    color: #79F2AE;
    font-size: 31px;
}

.here {
    color: #B6D0F2;
}

.here:hover {
    color: #7A8CBF;
}

.main {
    text-align: center;
    padding-top: 40px;
}

a {
    text-decoration: none;
    color: #79F2AE;
}

a:hover {
    color: #65BF85;
}

iframe {
    border-radius: 20px;
    width: 800px;
    height: 500px;
}

.map1 {
    background-color: #7EBCF2;
    padding-bottom: 40px;
}

.map2 {
    background-color: #B6D0F2;
    padding-bottom: 40px;
}

.map1 h2 {
    color: white;
}

.map2 h2 {
    color: white;
}

footer {
    background-color: #65BF85;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

footer a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

footer a:hover {
    color: #79F2AE;
    font-size: 21px;
}