/* 
font-family: 'AR One Sans', sans-serif;
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'AR One Sans', sans-serif;
    background-color: #f7f7f7;
}

/* 
-----------------------------------------------------------
    HTML header tag:
    global settings
-----------------------------------------------------------
*/
header {
    background-color: #f0f0f0;
    width: 100%;
    height: 100px;
    box-shadow: 6px 8px 12px #a9a7a7;
}

header img {
    width: 11%;
    padding: 15px 0 0 40px;
}

/* 
-----------------------------------------------------------
    HTML wrapper class:
    global settings
-----------------------------------------------------------
*/
.wrapper {
    background-color: #ffffff;
    text-align: center;
}

.wrapper nav {
    margin-bottom: 50px;
}

.wrapper nav ul {
    list-style: none;
    padding-top: 20px;
}

.wrapper nav ul a {
    text-decoration: none;
    color: #414141;
    font-size: 18px;
}

.wrapper nav ul a:hover {
    background-color: #153c59;
    color: #ffffff;
}

.wrapper nav ul a li {
    display: inline-block;
    padding: 0 15px;
}

/* 
-----------------------------------------------------------
    HTML p tag:
    global settings
-----------------------------------------------------------
*/
p {
    color: #414141;
    font-size: 14px;
}


.inline-center1 {
    margin-bottom: 50px;
}

.center-1 {
    display: inline-block;
    width: 25%;
}